@font-face {
  font-family: 'sell-icon';
  src:  url('../fonts/sell-icon.eot?y0wpt2');
  src:  url('../fonts/sell-icon.eot?y0wpt2#iefix') format('embedded-opentype'),
    url('../fonts/sell-icon.ttf?y0wpt2') format('truetype'),
    url('../fonts/sell-icon.woff?y0wpt2') format('woff'),
    url('../fonts/sell-icon.svg?y0wpt2#sell-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bus:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-arrow-long-down:before {
  content: "\e901";
}
.icon-arrow-long-up:before {
  content: "\e902";
}
.icon-milestone:before {
  content: "\f075";
}
.icon-sync:before {
  content: "\f087";
}
.icon-search:before {
  content: "\e986";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-radio-checked:before {
  content: "\ea54";
}
